# Configuration for cargo-dist
# See https://opensource.axo.dev/cargo-dist/

[workspace]
members = ["cargo:."]

[dist]
cargo-dist-version = "0.30.2"
ci = "github"
installers = ["shell", "powershell"]
targets = [
    "aarch64-apple-darwin",
    "x86_64-apple-darwin",
    "x86_64-unknown-linux-gnu",
    "aarch64-unknown-linux-gnu",
    "x86_64-unknown-linux-musl",
    "x86_64-pc-windows-msvc",
]
pr-run-mode = "plan"
